In [6]:
import pandas as pd
import numpy as np

In [7]:
June = pd.read_csv("../Resources/June-citibike-tripdata.csv")
June_df= pd.DataFrame(June)
June_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,499,6/1/2019 0:01,6/1/2019 0:09,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,29590,Subscriber,1979.0,1
1,507,6/1/2019 0:06,6/1/2019 0:15,3211,Newark Ave,40.721525,-74.046305,3277,Communipaw & Berry Lane,40.714358,-74.066611,29453,Subscriber,1969.0,1
2,768,6/1/2019 0:44,6/1/2019 0:57,3195,Sip Ave,40.730743,-74.063784,3189,West Side Light Rail,40.714402,-74.088772,26193,Subscriber,1962.0,1
3,101,6/1/2019 1:12,6/1/2019 1:14,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,29284,Subscriber,1983.0,1
4,265,6/1/2019 1:14,6/1/2019 1:18,3273,Manila & 1st,40.721651,-74.042884,3278,Monmouth and 6th,40.725685,-74.048790,29645,Subscriber,1980.0,2

In [8]:
July = pd.read_csv("../Resources/July-citibike-tripdata.csv")
July_df = pd.DataFrame(July)
July_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,340,7/1/2019 0:00,7/1/2019 0:05,3186,Grove St PATH,40.719586,-74.043117,3267,Morris Canal,40.712419,-74.038526,29643,Subscriber,1994.0,2
1,439,7/1/2019 0:02,7/1/2019 0:09,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,29585,Subscriber,1980.0,1
2,186,7/1/2019 0:04,7/1/2019 0:07,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,29219,Subscriber,1984.0,1
3,442,7/1/2019 0:05,7/1/2019 0:13,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,29497,Subscriber,1969.0,1
4,170,7/1/2019 0:07,7/1/2019 0:10,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,29483,Subscriber,1986.0,1

In [9]:
August = pd.read_csv("../Resources/August-citibike-tripdata.csv")
August_df = pd.DataFrame(August)
August_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1314,8/1/2019 0:03,8/1/2019 0:24,3187,Warren St,40.721124,-74.038051,3210,Pershing Field,40.742677,-74.051789,26293,Subscriber,1968.0,1
1,221,8/1/2019 0:06,8/1/2019 0:10,3213,Van Vorst Park,40.718489,-74.047727,3209,Brunswick St,40.724176,-74.050656,26314,Subscriber,1968.0,2
2,185,8/1/2019 0:42,8/1/2019 0:45,3211,Newark Ave,40.721525,-74.046305,3269,Brunswick & 6th,40.726012,-74.050389,26196,Subscriber,1972.0,1
3,72,8/1/2019 0:45,8/1/2019 0:46,3269,Brunswick & 6th,40.726012,-74.050389,3209,Brunswick St,40.724176,-74.050656,29521,Subscriber,1996.0,1
4,499,8/1/2019 1:12,8/1/2019 1:20,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,29634,Subscriber,1984.0,1

In [10]:
September = pd.read_csv("../Resources/September-citibike-tripdata.csv")
September_df = pd.DataFrame(September)
September_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,9/1/2019 0:02,9/1/2019 0:08,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29670,Subscriber,1989.0,1
1,357,9/1/2019 0:08,9/1/2019 0:14,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,26163,Subscriber,1980.0,1
2,432,9/1/2019 0:10,9/1/2019 0:17,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,26273,Subscriber,1988.0,1
3,934,9/1/2019 0:10,9/1/2019 0:25,3272,Jersey & 3rd,40.723332,-74.045953,3207,Oakland Ave,40.737604,-74.052478,26297,Subscriber,1991.0,1
4,932,9/1/2019 0:10,9/1/2019 0:25,3272,Jersey & 3rd,40.723332,-74.045953,3207,Oakland Ave,40.737604,-74.052478,29247,Subscriber,1993.0,2

In [11]:
October = pd.read_csv("../Resources/October-citibike-tripdata.csv")
October_df = pd.DataFrame(October)
October_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,410,10/1/2019 0:03,10/1/2019 0:09,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,26187,Subscriber,1976.0,1
1,412,10/1/2019 0:03,10/1/2019 0:10,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,31768,Subscriber,1975.0,2
2,274,10/1/2019 0:24,10/1/2019 0:28,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,26311,Subscriber,1979.0,1
3,2198,10/1/2019 0:31,10/1/2019 1:07,3199,Newport Pkwy,40.728745,-74.032108,3183,Exchange Place,40.716247,-74.033459,31709,Subscriber,1994.0,1
4,166,10/1/2019 0:34,10/1/2019 0:36,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,31759,Subscriber,1967.0,2

In [12]:
November = pd.read_csv("../Resources/November-citibike-tripdata.csv")
November_df = pd.DataFrame(November)
November_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,370,11/1/2019 0:04,11/1/2019 0:10,3199,Newport Pkwy,40.728745,-74.032108,3639,Harborside,40.719252,-74.034234,31817,Subscriber,1975.0,1
1,96,11/1/2019 0:05,11/1/2019 0:07,3211,Newark Ave,40.721525,-74.046305,3270,Jersey & 6th St,40.725289,-74.045572,26307,Subscriber,1991.0,2
2,73,11/1/2019 0:09,11/1/2019 0:11,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,31864,Subscriber,1974.0,1
3,162,11/1/2019 0:14,11/1/2019 0:16,3275,Columbus Drive,40.718355,-74.038914,3184,Paulus Hook,40.714145,-74.033552,26314,Subscriber,1979.0,1
4,214,11/1/2019 0:23,11/1/2019 0:27,3276,Marin Light Rail,40.714584,-74.042817,3186,Grove St PATH,40.719586,-74.043117,31772,Subscriber,1982.0,1

In [14]:
December = pd.read_csv("../Resources/December-citibike-tripdata.csv")
December_df = pd.DataFrame(December)
December_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,452,12/1/2019 0:00,12/1/2019 0:08,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,29607,Subscriber,1988.0,1
1,159,12/1/2019 0:04,12/1/2019 0:07,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,26269,Subscriber,1992.0,1
2,175,12/1/2019 0:17,12/1/2019 0:19,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26269,Subscriber,1992.0,1
3,455,12/1/2019 0:50,12/1/2019 0:57,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,31929,Subscriber,1990.0,1
4,670,12/1/2019 0:55,12/1/2019 1:06,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26274,Subscriber,1962.0,1

In [15]:
df_all =  pd.concat([June_df, July_df, August_df, September_df, October_df, November_df, December_df], ignore_index=True)
df_all.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
208618,972,12/31/2019 21:54,12/31/2019 22:10,3191,Union St,40.718211,-74.083639,3186,Grove St PATH,40.719586,-74.043117,29644,Subscriber,1987.0,2
208619,382,12/31/2019 22:10,12/31/2019 22:16,3280,Astor Place,40.719282,-74.071262,3268,Lafayette Park,40.713464,-74.062859,31799,Subscriber,1994.0,1
208620,93,12/31/2019 22:55,12/31/2019 22:56,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,31920,Subscriber,1957.0,1
208621,186,12/31/2019 23:20,12/31/2019 23:24,3270,Jersey & 6th St,40.725289,-74.045572,3211,Newark Ave,40.721525,-74.046305,31925,Subscriber,1964.0,1
208622,422,12/31/2019 23:33,12/31/2019 23:40,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,31709,Subscriber,1979.0,1

In [16]:
df_all['gender']

0         1
1         1
2         1
3         1
4         2
         ..
208618    2
208619    1
208620    1
208621    1
208622    1
Name: gender, Length: 208623, dtype: int64

In [17]:
df_all['Gender'] = df_all['gender'].replace([0,1,2],['unknown',"Male","Female"])
df_all = df_all.drop('gender',1)
df_all["distance"] = ''
df_all.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,Gender,distance
208618,972,12/31/2019 21:54,12/31/2019 22:10,3191,Union St,40.718211,-74.083639,3186,Grove St PATH,40.719586,-74.043117,29644,Subscriber,1987.0,Female,
208619,382,12/31/2019 22:10,12/31/2019 22:16,3280,Astor Place,40.719282,-74.071262,3268,Lafayette Park,40.713464,-74.062859,31799,Subscriber,1994.0,Male,
208620,93,12/31/2019 22:55,12/31/2019 22:56,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,31920,Subscriber,1957.0,Male,
208621,186,12/31/2019 23:20,12/31/2019 23:24,3270,Jersey & 6th St,40.725289,-74.045572,3211,Newark Ave,40.721525,-74.046305,31925,Subscriber,1964.0,Male,
208622,422,12/31/2019 23:33,12/31/2019 23:40,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,31709,Subscriber,1979.0,Male,

In [18]:
df_all.isnull().any() # Null values in column "Birth Year" detected

tripduration               False
starttime                  False
stoptime                   False
start station id           False
start station name         False
start station latitude     False
start station longitude    False
end station id             False
end station name           False
end station latitude       False
end station longitude      False
bikeid                     False
usertype                   False
birth year                  True
Gender                     False
distance                   False
dtype: bool

In [22]:
df_all.to_csv('../Resources/June_to_Dec_citibikenyc_tripdata.csv', index_label = "TripID")